django==4.0.1
channels==3.0.4
channels-redis==4.2.0
daphne==3.0.2
gunicorn==23.0.0
redis==5.0.8
supervisor==4.2.5
pytest~=8.3.3
prometheus_client~=0.21.0
websockets~=15.0.1
aiohttp~=3.12.13
pytest-asyncio==0.24.0
pytest-xdist